kvtmozi.sl3
utils/jsongenerator.py
utils/telepulesek.txt
utils/teszt.py
utils/csvreader.py
utils/Vetitesek_szamokban.csv
utils/Vetitesek_szamokban.xlsx
.venv/*
__pycache__/*
.vscode/*
.idea/*
.idea/kvtmzi.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
/geckodriver.log
/test_vetitesek_page.py
kvtmzi.spec
build/kvtmzi/Analysis-00.toc
build/kvtmzi/base_library.zip
build/kvtmzi/EXE-00.toc
build/kvtmzi/kvtmzi.exe.manifest
build/kvtmzi/kvtmzi.pkg
build/kvtmzi/PKG-00.toc
build/kvtmzi/PYZ-00.pyz
build/kvtmzi/PYZ-00.toc
build/kvtmzi/warn-kvtmzi.txt
build/kvtmzi/xref-kvtmzi.html
build/kvtmzi/localpycos/struct.pyo
dist/kvtmzi.exe
dist/telepulesek.json
